.st-users-list {
  margin-top: 1px;
}

.st-users-list li {
  border-top: 1px solid $bg-gray-light;
  border-bottom: 1px solid $bg-gray-light;
  margin-top: -1px;
  position: relative;
  width: 100%;
  padding: 10px 20px 10px 0;

  .st-user-thumb {
    position: absolute;
  }

  .st-user-name {
    display: inline-block;
    vertical-align: top;
    min-height: 40px;
    width: 72%;
    margin-right: 2%;
    padding-left: 50px;
    word-wrap: break-word;
  }

  .st-user-name-subtitle {
    font-size: 13px;
    color: $gray-light;
  }

  .st-controls {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    width: 26%;
    text-align: right;
  }
}